# Test files
**/__tests__/**
**/*.test.ts

# Development files
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
coverage/**
jest.config.js
.eslintrc.js

# Source files
src/**/*.ts
!src/**/*.d.ts

# Node modules
node_modules/**
!node_modules/minimatch/**
!node_modules/@types/minimatch/**
!node_modules/brace-expansion/**
!node_modules/balanced-match/**

# Other development files
.eslintrc.json
webpack.config.js
*.vsix