# Test files
**/__tests__/**
**/*.test.ts

# Development files
.vscode/**
node_modules/**
!out/
*.vsix

# Source files
src/**/*.ts
!src/**/*.d.ts

# Other development files
.gitignore
.eslintrc.json
tsconfig.json
webpack.config.js